@media screen and (max-width: 651px) {
  .popup-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 10%;
    height: 10%;
    background-image: url("../../assets/chat.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 352px) {
  .popup-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 10%;
    height: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 5%;
    padding: 10px 10px;
  }
  .container {
    border: 3px solid #000;
    background-color: white;
    border-color: gray;
    position: fixed;
    width: 35%;
    height: 65%;
    right: 3%;
    bottom: 5%;
  }
}

@media screen and (min-width: 652px) {
  .popup-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 4.5%;
    height: 10%;
    background-image: url("../../assets/chat.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 5%;
  }
  .container {
    border: 3px solid #000;
    background-color: white;
    border-color: gray;
    position: fixed;
    width: 35%;
    height: 65%;
    right: 3%;
    bottom: 5%;
  }
}

.container {
  border: 3px solid #000;
  background-color: white;
  border-color: gray;
  position: fixed;
  width: 45%;
  height: 70%;
  right: 3%;
  bottom: 5%;
  overflow: scroll;
}

.row {
  position: relative;
}

.answer-row {
  position: relative;
  top: 45%;
}

.btn {
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 1px solid #555; /* ボーダーの色と太さ */
  padding: 10px 30px;
  text-align: center;
  outline: none;
  /*アニメーションの指定*/
  transition: ease 0.2s;
  width: 100%;
  display: flex;

  justify-content: space-between;
}

/*ボタン内spanの形状*/
.btn span {
  position: relative;
  z-index: 3; /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #333;
  top: 20%;
}

.btn:hover span {
  color: #fff;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
  content: "";
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*色や形状*/
  background: #333; /*背景色*/
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

/*hoverした際の形状*/
.bgleft:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* chatのメッセージのCSS */
.c-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.c-box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  height: 592px;
  max-width: 432px;
  padding: 0 1rem;
  width: 100%;

  /* Vertical and horizontal center alignment */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-grid__answer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 192px;
}

.p-chat__bubble {
  background: #41b6e6;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem;
  margin-right: 1rem;
  max-width: 80%;
  width: auto;
}

.p-chat__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 0 !important;
}

.p-chat__reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-right: 0 !important;
}

.p-question__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.p-question__description {
  font-size: 1rem;
  letter-spacing: 0.125rem;
  line-height: 1.7;
}

.chat-list {
  height: 400;
  padding: 0;
  overflow: "auto";
}
