.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.movie-title {
  text-align: center;
}

.movie-year {
  text-align: center;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

img {
  width: 200px;
  height: 300px;
  display: block;
  margin: auto;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 3%;
}

input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}

.search > input[type="text"] {
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 651px) {
  .popup-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    width: 10%;
    height: 10%;
    background-color: #00ffff;
  }
}

@media screen and (min-width: 652px) {
  .popup-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    width: 5%;
    height: 10%;
    background-color: #00ffff;
    bottom: 5%;
  }
  .container {
    border: 3px solid #000;
    background-color: white;
    border-color: gray;
    position: fixed;
    width: 35%;
    height: 65%;
    right: 3%;
    bottom: 5%;
  }
}

.container {
  border: 3px solid #000;
  background-color: white;
  border-color: gray;
  position: fixed;
  width: 45%;
  height: 70%;
  right: 3%;
  bottom: 5%;
}
